<p></p><h1>Nice to meet you!</h1>

<p>Hello World, my name is Rhys Gilliam! I'm a senior studying Computer Science at the University of North Carolina 
    at Chapel Hill, with minors in Music and History and expecting to graduate in the spring of 2025. 
    Thanks for taking a look at my website! Here you'll find various projects of mine from class 
    assignments, Game Jam games, music compositions, and more. Stay a while!</p>

<p>When I'm not studying or doing homework, I love practicing guitar, making video games, 
    playing or DM'ing Dungeons and Dragons, and applying for jobs. That last one might have been a 
    lie but if you're reading this, that hopefully means I'm doing it well anyway! I'm experienced
    using a variety of different tools to help with my creative hobbies, such as Unity and Unreal 
    Engine to create games, Ableton Live for audio and music production, and good old-fashioned 
    Google Docs to jot down ideas for my next D&D game. As far as technical skills go, I'm also 
    proficient with languages like TypeScript, Java, and Python, and I have experience with tools like 
    Angular and RxJS. I also love learning real-life languages as well - if you speak German or Japanese, 
    I'd love a practice buddy, so reach out!</p>

<p>This year I look forward to continuing to build up my portfolio with games, apps, websites, and more - I
    hope you'll stick around to see what I cook up over my final two semesters at UNC!
    I'm excited to learn about Android application development in COMP 433: Mobile Programming, exploring
    SQL in COMP 421: Files and Databases, studying and making film/game music in MUSC 366: Scoring for Films
    and Video Games, and so much more! I'm especially excited to continue my involvement in the UNC-CH 
    Game Development Club, where I'll be leading workshops to teach various aspects of game development 
    as well as hosting and participating in large-scale Game Jam competitions.
</p>

<p>Wow, you read a lot! If you made it this far, I'm sure you found something that piqued your interest. 
    Check out my resume and portfolio above, and feel free to reach out to me at 
    <a href="mailto:rhys.a.gilliam@gmail.com">rhys.a.gilliam&#64;gmail.com</a> or find me on <a href="https://linkedin.com/in/rhys-gilliam-266352232" target="_blank">LinkedIn</a>. 
    I look forward to hearing from you - let's make something fun together!
</p>
