<section id="about">
    <div class="container">
        <div class="about-content">
            <img src="assets/headshot.jpg" alt="Rhys Gilliam">
            <div class="about-details">
                <h1>I'm Rhys!</h1>
                <p>Hello! I'm Rhys Gilliam, a Computer Science student studying at the University of North Carolina at Chapel Hill. Nice to meet you! If you're looking for a passionate software engineer, game developer, musician, or anything else requiring a unique mix of creative and technical skills, you've come to the right place! Take a look at my resume and portfolio at the links above, or feel free to get in touch through email or LinkedIn!</p>
                <div class="social-links">
                    <a href="mailto:rhys.a.gilliam@gmail.com"><img src="assets/email.jpg" alt="Email"></a>
                    <a href="https://linkedin.com/in/rhys-gilliam-266352232" target="_blank"><img src="assets/linkedin.png" alt="LinkedIn"></a>
                    <a href="https://rhysgilliam.itch.io" target="_blank"><img src="assets/itch.png" alt="itch.io"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2024 Rhys Gilliam. All rights reserved.</p>
    </div>
</footer>
