.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project-card {
    width: 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  .project-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .project-card p {
    color: #666;
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap; /* Ensures that tags wrap if they overflow horizontally */
    gap: 8px; /* Adds some space between each tag */
    margin-top: 10px;
  }
  
  .tag {
    display: inline-block;
    padding: 3px 8px; /* Padding for space inside the box */
    background-color: #f0f0f0; /* Light background color for the tag */
    border-radius: 20px; /* Rounded corners to make it pill-shaped */
    font-size: 0.8em; /* Slightly smaller font size */
    color: #333; /* Text color */
    border: 1px solid #ccc; /* Thin border */
    white-space: nowrap; /* Prevents the tag from breaking into multiple lines */
  }
  
  .tag:hover {
    background-color: #e0e0e0; /* Slight hover effect */
    cursor: pointer; /* Makes the tag clickable */
  }
  