/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
    width:100%;
    top: 0;
    left: 0;
    position:sticky;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* High z-index to stay above the cards */
  }
  
  .left h1 {
    margin: 0;
  }
  
  .right nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .right nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .right nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .text-button {
    background: none;
    border: none;
    color: inherit; /* Inherit the text color */
    font: inherit; /* Inherit the font settings */
    padding: 0;
    cursor: pointer;
  }